functions-framework==3.5.0
google-cloud-aiplatform==1.44.0
google-cloud-storage==2.14.0
google-cloud-bigquery==3.18.0
google-cloud-secret-manager==2.19.0
tifffile==2024.2.12
python-docx==1.1.0
numpy==1.26.4
Pillow==10.2.0
torch==2.2.1
torchvision==0.17.1
timm==0.9.16
huggingface-hub==0.21.4
